h1 {
    color: brown;
    padding-left: 30px;
}

* {
    border: solid;
}
*

.header {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between; 
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

p, h2 {
    text-align: center;
}

body {
    background-color: gray;
}

a:link{
    color: black;
}

a:visited{
    color: white;
}

.menu{
    margin-right: 30px;
}

.menu a{
    margin-left: 30px;
}

.item{
    position: relative;
}

.item p{
    position: absolute;
    top: 50%;
    left:50%;

    transform:translate(-50%, 50%);
    opacity: 0;
}

.item:hover p{
    opacity: 0.33;
}

